.aboutSection {

  min-height: 100vh;  
  display: flex;
  align-items: center;
  padding: 1rem;

  .innerContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .portrait {
    width: auto;
    height: 100%;
    max-width: 300px;
  }

  .paragraph, .personalInfoParagraph, .personalInfoParagraph strong {
    font-family: "Quicksand", sans-serif;
  } 

  .paragraph {
    line-height: 1.6;
  }

  .personalInfoParagraph {
    margin: 0.5rem 0;

    strong  {
      margin-right: 0.5rem;
    }

  }

  .personalInfoContainer {
    display: flex;
    flex-direction: column;
  }

  .buttonContainer {
    margin: 2rem 0 0;
    display: flex;
    gap: 1.5rem;
  }

  .experienceButton {
    padding: 1rem;
    color: white;
    background: #3182bd;
    text-decoration: none;
    transition: 0.3s;

      &:hover {
        background: #1d5e8c;
        transition: 0.3s;
      }
      
    }
    
    .downloadButton {
      padding: 1rem;
      color: #3182bd;
      border: 1px solid #3182bd;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        background: #f2f6fa;
        transition: 0.3s;
        // color: white;
      }
  }

  .textContainer {
    width: 100%;
  }

  
  @media screen and (min-width: 1024px){
    .aboutSection {
      padding: 0 1rem;
    }
    .personalInfoContainer {
      flex-direction: row;
      gap: 3rem;
    }

    .experienceButton,
      .downloadButton {
        padding: 1rem 1.5rem;
      }
  

  }

}