header {
  
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 0;
  z-index: 10;
  width: 100%;
  transition: 0.3s;  
  
  .internalContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .imageHeader {
    max-height: 1.5rem;
  }
  
  .headerLinks {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.875rem;
      transition: 0.3s;
      
      &:hover {
        color: #d4d4d4;
        transition: 0.3s;
      }

    }
  }
}

.hasScrolled {

  background: white;
  transition: 0.3s;
  box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.4);

  .imageHeader {
    filter: brightness(0);
    transition: 0.3s;
  }

  .headerLinks {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: black;
      transition: 0.3s;
    }
  }
}