.bannerContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.reactTyped {
  text-align: center;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.bannerTitle, .bannerSubtitle {
  margin: 0.5rem 0;
  text-align: center;
}

.profileImage {
  width: 180px;
  border-radius: 100px;
  height: 180px;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
}

.anchor {
  margin: 1rem;
}