.experiences {
  padding: 5rem 0 0;
  // background-color: gray;
  background: #f0f0f0;
  overflow: hidden;

  h2.title {
    // color: white;
    text-align: center;
  }
  span.subtitle {
    // color: white;
    text-align: center;
    margin: 0 auto 3rem;
    max-width: 80%;
    display: block;
  }


  
  
  .itemContainer {

    padding: 2rem 0;

    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1;


    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(0, 0, 0, 0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
    }
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
    
    &:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }

    &:nth-of-type(odd) {
      background-color: #f0f0f0;
    }
    &:nth-of-type(even) {
      background-color: #e8e8e8;
    }

    .innerContainer {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 0 1rem;
    }

    .itemTextInfo {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      // width: 50%;
      line-height: 1.6;
      // color: #fff;

      .title {
        color: #3182bd;
        font-weight: 700;
        text-transform: uppercase;
      }

      .companyName {
        // color: #ffffff;
        padding: 0.25rem 0.5rem;
        background: #ffffff;
        width: fit-content;
      }

    }

    .text {
      margin: 0 auto;
      line-height: 1.6;
      padding: 0 2rem 0 0;
      // color: #fff;
    }

  }

  @media screen and (min-width: 1024px){
    .itemTextInfo {
      width: 50%;
    }

    .text {
      width: 50%;
      padding: 0;
    }

    .innerContainer {
      gap: 0;
      padding: 0;
    }

  }

}