.innerContainer {
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

section {
  overflow: hidden;
}

.blocked {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .innerContainer {
    flex-direction: row;
  }
}