.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3182bd;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 14px 16px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;

  &:hover {
    background-color: #1a6193;
    transition: 0.3s;
  }
}